{{#each errors}}
<div class="alert alert-danger" role="alert">
  <div class="container">
    <strong>{{text}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">
        <i class="now-ui-icons ui-1_simple-remove"></i>
      </span>
    </button>
  </div>
</div>
{{/each}}
{{/if}}

