<footer class="footer" data-background-color="black">
  <div class="container">
    <nav>
      <ul>
        <li>
          <a href="https://github.com/QuodIntrepidus" target="_blank">
            GitHub
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/chatter.in.my.skull/" target="_blank">
            Instagram
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/dhruv.bhatia.9638" target="_blank">
            Facebook
          </a>
        </li>
        <li>
          <a href="#">
            Dusk Studios
          </a>
        </li>
      </ul>
    </nav>
  </div>
</footer>