<div class="wrapper">
    <div class="page-header page-header-small">

        <div class="page-header-image" data-parallax="true" style="background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);">
        </div>
        <div class="content-center">
            <div class="container">
                <h1 class="title">Folks behind all this</h1>
                <div class="text-center">
                    <a style="background:#2196f3;" href="https://discord.gg/4fnMjre" class="btn btn-primary btn-icon btn-round"
                        target="_blank">
                        <i class="fab fa-discord"></i>
                    </a>
                    <a style="background:#2196f3;" href="https://twitter.com/ShimasuInc" class="btn btn-primary btn-icon btn-round"
                        target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a style="background:#2196f3;" href="#pablo" class="btn btn-primary btn-icon btn-round">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>

    </div>

    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Who are we?</h2>
                    <h5 class="description">We are on a mission to simplify and enhance the experience of a user while
                        learning, so that they can focus on learning itself and not trying to find terminologies and
                        good content.</h5>
                </div>
            </div>

            <div class="separator separator-primary"></div>

            <div class="section-story-overview">
                <div class="row">
                    <div class="col-md-6">
                        <div class="image-container image-left" style="background-image: url('https://images.unsplash.com/photo-1462206092226-f46025ffe607?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=753&q=80')">
                            <!-- First image on the left side -->
                            <p style="border-color:#2196f3;color:#2196f3;" class="blockquote blockquote-primary">"
                                I don't fear a man who knows thousand topics. I fear a man who knows a thousand things
                                about a topic."
                                <br>
                                <br>
                                <small style="color:#2196f3;">- Utkarsh 😁 </small>
                            </p>
                        </div>

                        <!-- Second image on the left side of the article -->
                        <div class="image-container" style="background-image: url('https://images.unsplash.com/photo-1491841550275-ad7854e35ca6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80')"></div>
                    </div>

                    <div class="col-md-5">
                        <!-- First image on the right side, above the article -->
                        <div class="image-container image-right" style="background-image: url('https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80')"></div>

                        <h3>So how did it all start?</h3>

                        <p>It all started on a day when Christian and me were chatting as usual. We were talking about
                            how we had encountered a lot of problems while learning something. I had some initial ideas
                            about Shimasu from another guy named Gary, who dreamt of it. I worked on it further and
                            formed a mental image of what Shimasu was supposed to be. I contacted Christian whether we
                            should work on it or not. Good heavens, we did. We converted the "it" to Shimasu. We worked
                            on even more features, and converted the idea into a product.

                        </p>

                        <p>
                            We knew we could expand it into an even better product. We had set up a Discord server
                            already and then we found people who had similar ideas of changing the way one learns. With
                            their help, we are who we are now. We started out as a team and then we turned into a
                            family. A family of coders, designers, marketeers, coffee-lovers, anime otakus and much
                            more. The one thing which made us powerful was a vision, a vision to help users focus more
                            on learning and less on things which aren't important.
                        </p>

                        <p>

                            Finally, we started getting good responses and we knew that we now had the power to change
                            the existing problems into changing someone's life.
                        </p>
                        <p><b>- Utkarsh, CEO & Founder</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section section-team text-center">
        <div class="container">
            <h2 class="title">Here is our team</h2>

            <div class="team">
                <div class="row">
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="https://instagram.fbom19-2.fna.fbcdn.net/vp/0147d008730fbd7d79db072ccc30b756/5CFAFDBF/t51.2885-19/s150x150/50184488_2014990915467891_6171609301291892736_n.jpg?_nc_ht=instagram.fbom19-2.fna.fbcdn.net"
                                alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Christian Barton Randall</h4>
                            <p style="color:#2196f3 !important;" class="category text-primary">President</p>
                            <p class="description">Christian, is a person who loves to code. His previous works are
                                open-source made to help thousands of people in the community. He is passionate about
                                technology and plans to study in MIT and change even more lives.</p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="team-player">
                            <img style="width: 150px !important; height:150px !important;" src="/assets/img/me.jpeg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Utkarsh Dubey</h4>
                            <p style="color:#2196f3 !important;" class="category text-primary">CEO</p>
                            <p class="description">Utkarsh is an ordinary boy who loves to do ordinary things in extra
                                ordinary ways. He
                                has an urge to change the world and make technology more accessible to humans. He is
                                addicted to coffee. He has a dream of studying at Stanford(maybe someday).</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-player">
                            <img style="width: 150px !important; height:150px !important;" src="https://maverickui.github.io/img/teamwilliam.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">William Unsworth</h4>
                            <p style="color:#2196f3 !important;" class="category text-primary">COO</p>
                            <p class="description">
                                William handles the everyday functioning of Shimasu and is another curious programmer
                                who has been a part of a lot of projects.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section section-contact-us text-center">
        <div class="container">
            <h2 class="title">Want to work with us?</h2>
            <p class="description">Do you want to join us, or do you have any queries?</p>

            <div class="row">
                <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                    <div class="input-group input-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="now-ui-icons users_circle-08"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="First Name...">
                    </div>

                    <div class="input-group input-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="now-ui-icons ui-1_email-85"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Email...">
                    </div>

                    <div class="textarea-container">
                        <textarea class="form-control" name="name" rows="4" cols="80" placeholder="Type a message..."></textarea>
                    </div>

                    <div class="send-button">
                        <a style="background:#2196f3;" href="#pablo" class="btn btn-primary btn-round btn-block btn-lg">Send
                            Message</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
