<div class="wrapper">
  <div class="page-header clear-filter" filter-color="orange">
    <div class="page-header-image" data-parallax="true" style="background-color: rgb(27, 0, 27)">
    </div>
    <div class="container demo" id="home">
        <div id="large-header" class="large-header">
        <canvas id="demo-canvas"></canvas>
          <h1 class="elegantshadow"><p id="typo-1">Dhruv  Bhatia</p></h1>
          <h1 class="resp">Dhruv  Bhatia</h1>
        </div>
      <div class="col-md-12 col-lg-8">
      </div>
    </div>
  </div>

  <div class="main">
  <div class="section section-nucleo-icons" style="background-color: rgb(31,9,42)" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <h5 class="oof-description">
              My name is <div class="oof"><span class="underr"><i><b>Dhruv Bhatia</b></i></span></div>. I am a 17 year old web developer and a data scientist aspirant. Currently, I am the COO of <div class="oof"><span class="underr"><b><i>Shimasu</i></b></span></div> which powers Dusk Studios, a web design and development agency. I love to code in different programming languages and learn new and upcoming languages to enhance myself and my skills. I am also intrested in Machine Learning, especially fields like NLP and Computer Vision.        
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-8">
      <hr><hr>
      </div>
    </div>

    {{!-- <div class="section section-nucleo-icons" style="background: linear-gradient(rgb(31,9,42), black);">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <h5 class="oof-description" style="text-align: right;">
              <b>
                      
              </b>
            </h5>
          </div>
        </div>
        <div class="col-md-12 col-lg-8">
      <hr><hr>
      </div>
      </div>
    </div> --}}

    <div class="section how-to" style="background: linear-gradient(rgb(31,9,42), black);" id="works">
      <div class="container text-center">
        <div class="row justify-content-md-center">
          <div class="col-md-12 col-lg-8">
            <hr>
            <h2 class="title">My Works</h2>
            <h5 class="oof-description" style="font-size: 1.5rem; text-align:center;">Some projects I have contributed to and worked upon personally.</h5>
            
          </div>
        </div>
      </div>
    </div>

    <main class="default">
        <container class = "composition">
            <section>
                <div class="box photo p1" rel="tooltip" title="Club (c)ypher" data-placement="top"><a href="http://clubcypher.club/" target="_blank"><img src="https://i.imgur.com/VTCAtEA.jpg" alt=""></a></div>
                <div class="box photo p2" rel="tooltip" title="Scyara MegaCorp" data-placement="top"><a href="http://scyara.herokuapp.com/" target="_blank"><img src="https://i.imgur.com/HP1tAfe.jpg" alt=""></a></div>
                <div class="box photo p3" rel="tooltip" title="Shimasu - Currently Unavailable" data-placement="top"><a href="http://shimasu.herokuapp.com/" target="_blank"><img src="https://i.imgur.com/IlD6bG1.jpg" alt=""></a></div>
            </section>
            <section>
                <div class="box photo p1" rel="tooltip" title="Dusk Studios - Under Construction!" data-placement="top"><img src="https://i.imgur.com/W5wWx9d.jpg" alt=""></div>
                <div class="box photo p2" rel="tooltip" title="Alerts-JS" data-placement="top"><a href="https://github.com/QuodIntrepidus/-Dash-for-AlertsJS" target="_blank"><img src="https://i.imgur.com/spaaO5l.jpg" alt=""></a></div>
                <div class="box photo p3"><img src="https://colorlib.com/wp/wp-content/uploads/sites/2/razo-free-template.jpg" alt=""></div>
            </section>
        </container>
    </main>
    <main class="resp2">
        <container class = "composition">
            <section>
                <div class="box photo p1"><a href="http://clubcypher.club/" target="_blank"><img src="https://i.imgur.com/VTCAtEA.jpg" alt="Club (c)ypher"></a></div>
                <div class="box photo p2"><a href="http://scyara.herokuapp.com/" target="_blank"><img src="https://i.imgur.com/HP1tAfe.jpg" alt="Scyara MegaCorp"></a></div>
                <div class="box photo p3"><a href="http://shimasu.herokuapp.com/" target="_blank"><img src="https://i.imgur.com/IlD6bG1.jpg" alt="Shimasu - Currently Unavailable"></a></div>
            </section>
            <section>
                <div class="box photo p1"><img src="https://i.imgur.com/W5wWx9d.jpg" alt="Dusk Studios - Under Construction!"></div>
                <div class="box photo p2"><a href="https://github.com/QuodIntrepidus/-Dash-for-AlertsJS" target="_blank"><img src="https://i.imgur.com/spaaO5l.jpg" alt="Alerts-JS"></a></div>
                <div class="box photo p3"><img src="https://colorlib.com/wp/wp-content/uploads/sites/2/razo-free-template.jpg" alt=""></div>
            </section>
        </container>
    </main>
  </div>
  </div>


  {{!-- <div class="main">

    <div class="section section-nucleo-icons">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <h2 class="title">Experience the best out of a video.</h2>
            <h5 class="description">
              <b>
                Shimasu helps you to get the best out of a video by providing real-time information and insights on
                the video you are watching.
              </b>
            </h5>

            <a style="background:#2196f3;" href="#learn-more" class="btn btn-primary btn-round btn-lg">Learn More</a>
            <a style="color:#2196f3;border-color:#2196f3;;" href="#watch-video" class="btn btn-primary btn-simple btn-round btn-lg">Watch
              the video</a>
          </div>
          <div class="col-lg-6 col-md-12">
            <img src="./assets/img/site_video_image.svg" alt="Video, huh?" draggable="false">
          </div>
        </div>
      </div>
    </div>
    <div class="section how-to">
      <div class="container text-center">
        <div class="row justify-content-md-center">
          <div class="col-md-12 col-lg-8">
            <hr>
            <h2 class="title">How does it work?</h2>
            <h5 class="description">Let's pretend you want to learn Javascript or How to play a guitar.</h5>
            <div class="step step-1 mb-3">
              <h3 class="display-6">
                <div class="badge badge-info">1</div>
                Opening Video
                </h1>
                <img src="./assets/img/step_1.svg" alt="">
                <div class="jumbotron">
                  <p class="lead">
                    The useopens a video of the particular course and then encounters certain keywords he is not
                    aquainted with.
                  </p>
                </div>
            </div>
            <div class="step step-2 mb-3">
              <h3 class="display-6">
                <div class="badge badge-info">2</div>
                Using Chrome Extension
                </h1>
                <img src="./assets/img/step_2.svg" alt="">
                <div class="jumbotron">
                  <p class="lead">
                    If the user has pre-installed the Shimasu chrome extension, the definations and suggestions
                    related to the video appear right next to the video.
                  </p>
                </div>
            </div>
            <div class="step step-3 mb-3">
              <h3 class="display-6">
                <div class="badge badge-info">3</div>
                Enhancing Learning Process
                </h1>
                <img src="./assets/img/step_3.svg" alt="">
                <div class="jumbotron">
                  <p class="lead">
                    The user learns in a more efficient and better way from the suggestions received which enhances
                    their perception and understanding of the particular topic.
                  </p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="pricing py-5" id="#plans">
      <div class="container">
        <h1 class="display-2 text-center text-light">Plans</h1>
        <div class="row">
          <!-- Free Tier -->
          <div class="col-lg-4">
            <div class="card mb-5 mb-lg-0">
              <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center">Free</h5>
                <h6 class="card-price text-center">$0.00<span class="period">/month</span></h6>
                <hr>
                <ul class="fa-ul">
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>Works on YouTube</li>
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>Filters essential suggestions</li>
                  <li><span class="fa-li"><i class="fas fa-check"></i></span></li>
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Support</li>
                  <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Low Internet
                    Consumption</li>
                  <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Dedicated Support</li>
                  <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Custom Learning
                    Profile</li>
                  <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Suggestions for
                    Offline Videos</li>
                </ul>
                <a href="#" class="btn btn-block btn-primary text-uppercase" data-toggle="tooltip" data-placement="bottom"
                  title="We are currently in beta." disabled="true">Not Available</a>
              </div>
            </div>
          </div>
          <!-- Plus Tier -->
          <div class="col-lg-4">
            <div class="card mb-5 mb-lg-0">
              <div class="card-body">
                <div class="badge badge-info d-flex justify-content-center align-items-center h-100">Recommended</div>
                <h5 class="card-title text-muted text-uppercase text-center">Pro</h5>
                <h6 class="card-price text-center">$5.00<span class="period">/month</span></h6>
                <hr>
                <ul class="fa-ul">
                  <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Works on any site</strong></li>
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>Filters enhanced suggestions</li>
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>Dedicated Support</li>
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>Low Internet Consumption</li>
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>Custom Learning Profile</li>
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>Daily Learning Reports</li>
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>Free Subdomain</li>

                </ul>
                <a href="#" class="btn btn-block btn-primary text-uppercase" data-toggle="tooltip" data-placement="bottom"
                  title="We are currently in beta." disabled="true">Not Available</a>
              </div>
            </div>
          </div>
          <!-- Pro Tier -->
          <div class="col-lg-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center">SHIMASU FOR EDUCATION</h5>
                <h6 class="card-price text-center" style="font-size: 2.5rem;">contact sales</span></h6>
                <hr>
                <ul class="fa-ul">
                  <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Works on custom website</strong></li>
                  <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Auto Caption Generation</strong></li>
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>Filters according to your needs</li>
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>24x7 Support</li>
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>Private Server Setup</li>
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>On-demand Customization</li>
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>Dedicated Developer Support</li>
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>Valuable Insights & Reports</li>
                </ul>
                <a href="#" class="btn btn-block btn-primary text-uppercase" data-toggle="tooltip" data-placement="bottom"
                  title="We are currently in beta." disabled="true">Not Available</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="section section-download" id="#download-section" data-background-color="black">
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="text-center col-md-12 col-lg-8">
            <h3 class="display-4">FAQ</h3>
            <h5 class="description">So that there remains no doubt in your and our way. If you feel your question
              still remains unanswered, feel free to contact us.</h5>
          </div>
          <section class="accordion-section clearfix mt-3" aria-label="Question Accordions">
            <div class="container">
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                  <div class="panel-heading p-3 mb-3" role="tab" id="heading0">
                    <h3 class="panel-title">
                      <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse0"
                        aria-expanded="true" aria-controls="collapse0">
                        Where can I find the downloaded file of Shimasu?
                      </a>
                    </h3>
                  </div>
                  <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
                    <div class="panel-body px-3 mb-4">
                      <p>Shimasu is not an application, it uses Chrome to store the suggestions in the local storage.
                        It doesn't do it by default. You have to change the setting in Shimasu Settings.</p>
                    </div>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading p-3 mb-3" role="tab" id="heading1">
                    <h3 class="panel-title">
                      <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse1"
                        aria-expanded="true" aria-controls="collapse1">
                        Are there any Ads?
                      </a>
                    </h3>
                  </div>
                  <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                    <div class="panel-body px-3 mb-4">
                      <p>We hate Ads as much as you do. There are not and will never be any Ads by Shimasu but we
                        cannot guarantee that for your video player. :)</p>
                    </div>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
                    <h3 class="panel-title">
                      <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse2"
                        aria-expanded="true" aria-controls="collapse2">
                        Are there any hidden costs?
                      </a>
                    </h3>
                  </div>
                  <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                    <div class="panel-body px-3 mb-4">
                      <p>Absolutely not, we only offer our Pro Plan which isn't necessary but it's affordable and worth
                        it. Check it out in <a href="#plans">Plans</a>.</p>
                    </div>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading p-3 mb-3" role="tab" id="heading3">
                    <h3 class="panel-title">
                      <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse3"
                        aria-expanded="true" aria-controls="collapse3">
                        Is their any free trial of the Pro Plan?
                      </a>
                    </h3>
                  </div>
                  <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                    <div class="panel-body px-3 mb-4">
                      <p>We offer a one week free trial of the Pro Plan.</p>
                    </div>
                  </div>
                </div>
                <button class="btn btn-primary btn-block">More FAQ</button>
              </div>

            </div>
          </section>
        </div>
        <br>
        <br>
        <br>
        <div class="row text-center mt-5">
          <div class="col-md-8 ml-auto mr-auto">
            <h2>Changelog</h2>
            <h5 class="description">Changelog and updates of our application which is currently in Beta.</h5>
          </div>
          <div class="container">
            <div class="card mb-3">
              <div class="card-body">
                <blockquote class="blockquote blockquote-primary mb-0">
                  <p style="color: black; font-weight: bold;">Barebones Release(finish)</p>
                  <div class="badge badge-primary" style="display: inline;">v0.0.3</div>
                  <div class="badge badge-info">3rd February</div>
                  <div class="badge badge-danger">Github</div>
                  <p style="color: black;">Major bug fixes. New functionality added. Support for beta</p>
                  <footer class="blockquote-footer" style="color: black;"><a href="" style="color: blue;">Github</a></footer>
                </blockquote>
              </div>
            </div>
            <div class="card mb-3">
              <div class="card-body">
                <blockquote class="blockquote blockquote-primary mb-0">
                  <p style="color: black; font-weight: bold;">Barebones Release(update)</p>
                  <div class="badge badge-primary" style="display: inline;">v0.0.2</div>
                  <div class="badge badge-info">28th January</div>
                  <div class="badge badge-danger">Github</div>
                  <p style="color: black;">An update in the Barebones release with minor bug fixes and security audits.</p>
                  <footer class="blockquote-footer" style="color: black;"><a href="" style="color: blue;">Github</a></footer>
                </blockquote>
              </div>
            </div>
            <div class="card mb-3">
              <div class="card-body">
                <blockquote class="blockquote blockquote-primary mb-0">
                  <p style="color: black; font-weight: bold;">Barebones Release</p>
                  <div class="badge badge-primary" style="display: inline;">v0.0.1</div>
                  <div class="badge badge-info">21st January</div>
                  <div class="badge badge-danger">Github</div>
                  <p style="color: black;">Barebones release was released as an initial back bone of the project. It
                    isn't available in public. It's for developmental use.</p>
                  <footer class="blockquote-footer" style="color: black;"><a href="" style="color: blue;">Github</a></footer>
                </blockquote>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <a href="#" class="btn btn-neutral btn-round btn-lg" target="_blank">
              <i class="now-ui-icons arrows-1_share-66"></i> Check the full Changelog
            </a>
          </div>
        </div>
        <br>
        <br>
        <div class="row justify-content-md-center sharing-area text-center">
          <div class="text-center col-md-12 col-lg-8">
            <h3>Thank you for supporting us!</h3>
          </div>
          <div class="text-center col-md-12 col-lg-8">
            <a target="_blank" href="https://www.twitter.com/ShimasuInc" class="btn btn-neutral btn-icon btn-twitter btn-round btn-lg"
              rel="tooltip" title="Follow us">
              <i class="fab fa-twitter"></i>
            </a>
            <a target="_blank" href="https://github.com/ShimasuInc" class="btn btn-neutral btn-icon btn-github btn-round btn-lg"
              rel="tooltip" title="Follow us on Github.">
              <i class="fab fa-github"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div> --}}

  <!--  End Modal -->