<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image" data-parallax="true" style="background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);">
        </div>
        <div class="content-center">
            <div class="container">
                <h1 class="title">Beta Program</h1>
                <p class="lead">Let's make it even more better with your help.</p>
                <div class="text-center">
                    <a href="/join"><button class="btn btn-info btn-lg">Join</button></a>
                </div>
            </div>
        </div>

    </div>

    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">What is Beta?</h2>
                    <h5 class="description">We have a program called Beta where you could test the application
                        pre-release and fill out feedback forms for helping us building it even more better. Don't
                        worry you'll get your perks once we launch.</h5>
                </div>
            </div>

        </div>
    </div>
    <!-- Tabs with Background on Card -->
    <div class="container mb-5">
        <div class="row">
            <div class="col-md-10 ml-auto col-xl-6 mr-auto">
                <h1>Perks and the Referral Program</h1>
                <p>
                    We have a referral program for beta testers where you'll get a month free Shimasu Pro subscription and for every number of X users you recommend, you'll get the perks as mentioned in the tabs. 
                </p>
            </div>
            <div class="col-md-10 ml-auto col-xl-6 mr-auto">
                <div class="card">
                    <div class="card-header">
                        <ul class="nav nav-tabs nav-tabs-neutral justify-content-center" role="tablist"
                            style="background-color: #2196f3;">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#home1" role="tab">1 user</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#profile1" role="tab">2 users</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#messages1" role="tab">3 users</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#settings1" role="tab">4 + users</a>
                            </li>
                        </ul>
                    </div>

                    <div class="card-body">
                        <div class="tab-content text-center">
                            <div class="tab-pane active" id="home1" role="tabpanel">
                                <p>You'll get another month free plus your friend receiving a month of subscription too..</p>
                            </div>
                            <div class="tab-pane" id="profile1" role="tabpanel">
                                <p> You'll get two extra months with your friends receiving a month subscription too. </p>
                            </div>
                            <div class="tab-pane" id="messages1" role="tabpanel">
                                <p>Whoa! Three more months with your friends receiving a month's subscription.</p>
                            </div>
                            <div class="tab-pane" id="settings1" role="tabpanel">
                                <p>
                                    "A special thank you email from Shimasu with something exciting and a free year of Shimasu Pro with your friends receiving a month of pro subscription."
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Tabs on plain Card -->
        </div>
    </div>
</div>